# Temporality directories
.tmp/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

.idea/

# В процессе разработки
prima_update_old.bat
# Структура_меню.md
